/* 头部开始 */
#header {
    border-bottom: 1px solid transparent;
    position: relative;
}
.wf-wrap{
    width: 1190px;
    margin: 0 auto;
}
.wf-table{
    max-width: 1190px!important;
    min-height: 120px;
    height: 120px;
    margin: 0 auto;
    display: table;
    width: 100%;
}
.branding{
    width: 149px;
    height: 120px;
    display: table-cell;
    vertical-align: middle;
}
.bitem{
    top: 0px;
    left: 0px;
    max-height: 50px;
}
.bitem .logospan{
    display: inline-block;
}
.logospan img{
    max-height: 50px;
    width: auto;
}
.navs{
    width: 778px;
    height: 120px;
    display: table-cell;
    vertical-align: middle;
}
.main-nav{
    text-align: right!important;
    font-size: 15px;
}
.main-nav .menu-item{
    display: inline-block;
    position: relative;
    z-index: auto;
    vertical-align: middle;
    width: 104px;
    text-align: center;
    margin: 0 3px;
    cursor: pointer;
}
.menu-item a{
    color: #4c4c4c;
    font: normal normal 15px / 23px sans-serif;
}
.menu-item span{
    height: 60px;
    display: inline-block;
    text-align: center;
}
.block{
    margin-top: 12px;
    font-size: 13px;
}
.main-nav .item {
    background-color: #a0ce4e;
}
.main-nav .item a{
    color: #fff;
}
.menu-item:hover a{
    color: #fff;
}
.menu-item:hover{
    background-color: #a0ce4e;
}
.info{
    width: 263px;
    display: table-cell;
    vertical-align: middle;
}
.top-bar{
    padding-bottom: 2px;
    padding-top: 1px;
    width: 263px;
}
.deng{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 15px;
    padding-top: 0;
    padding-bottom: 0;
    display: inline-block;
    text-align: right;
}
/* 头部结束 */
/* 内容上开始 */
.container{
    width: 1260px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.column_inner{
    padding-top: 60px;
    box-sizing: border-box;
}
.inners{
    padding-bottom: 40px;
    text-align: center;
}
.warpper{
    width: 298px;
    margin: 0 auto;
}
.ins{
    padding-left: 6px;
    margin-left: 30px;
}
.items{
    margin-bottom: 10px;
}
.bottom-enter-left{
    line-height: 45px;
    padding: 12px 40px;
    background-color: #88ba3d;
    color: #ffffff;
    border: 1px solid transparent;
    box-sizing: border-box;
    position: relative;
    margin-right:20px; 
    font-size: 16px;
    font-weight: 800;
}
.sub{
    display: inline-block;
}
.sub li{
    display: inline-block;
    margin: 5px;
    padding: 6px 25px;
    border: 1px solid #88ba3d;
    cursor: pointer;
}
.active{
    display: inline-block;
    margin: 5px;
    padding: 6px 25px;
    border: 1px solid #88ba3d;
    background-color: #ffffff !important;
}
/* 内容上结束 */
/* 内容下开始 */
.bigbox{
    padding: 0 35px;
}
.box{
    background-color: #fff;
}
.boxs{
    display: inline-block;
    padding-bottom: 15px;
    padding-right: 15px;
    width: 23%;
}
.boxs-img{
    text-align: center;
}
.boxs-title{
    width: 297.5px;
}
h3 {
    font-size: 18px;
    font-weight: normal;
    color: #494949;
    font-family: 微软雅黑;
}
.pitem{
    margin-bottom: 6px;
    text-align: center;
}
.amount{
    font-size: 16px;
    font-weight: normal;
    color: #aaaaaa;
    font-family: 黑体;
}
.aa{
    margin: 0 auto;
}
/* 内容下结束 */
/* 底部 */
.footer{
    margin: 0 auto;
    padding: 0 40px;
}
.footer-box{
    height: 230px;
    padding-top: 60px;
    color: #666666;
}
.dibu-left{
    width: 882px;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
}
.m{
    line-height: 1.5em;
}
.m2{
    padding-top: 30px;
}
.m3{
    padding-top: 20px;
}
.dibu-right{
    padding-left: 5px;
    padding-right: 5px;
    float: left;
}
.dibu-right-top{
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
}
.right-top{
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(224,224,224,1);
}
.tops{
    padding-top: 15px;
}
.tops li{
    display: inline-block;
}
.tops li .last{
    margin-right: 30px;
    background-image: url(http://fast.qifeiye.com/FeiEditor/images/icon/social_icon_24x24.png);
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    display: inline-block;
}
.l{
    background-position-y: -96px;
    background-position-x: -48px;
}
.l2{
    background-position-y: -96px;
    background-position-x: 0px;
}
.l3{
    background-position-x: -24px;
    background-position-y: -96px;
}
.l4{
    background-position-x: -96px;
    background-position-y: -96px;
}